body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: center;
  font-family: 'Happy Monkey';
  font-size: 2.5rem;
  color: #fff;
}

h1 .highlight {
  color: rgba(148, 10, 175, 0.7);
}

h2 {
  font-family: 'Happy Monkey';
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 10% 10% 10%;
  

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Happy Monkey';
  font-weight: bold;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title_div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.monk_pic{
  height: 60px;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}